body{
    text-align:center;
    background-color:rgba(250, 128, 114, 0.371);
    background-image: url(images/wallpaper.jpg);
    background-size: cover;
}
nav{
    background-color: darksalmon;
    padding: 20px;
}
ul{
    list-style: none;
    display: flex;
    margin:0 32%;

}
li{

    background-color: rgb(38, 31, 13);
    padding: 10px;
    margin-right: 20px;
}

h1{
    font-family: 'Playfair Display SC';
    
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}













































































































































































































































































































































































































































































































































































































































































































































































































































